/* 電腦優先 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #2d2f37;
    font-family: "Noto Sans TC", sans-serif;
    color: #fff;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

/* 導覽列 */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #070d59;
    height: 100px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 1;
}

.nav-list .logo img {
    height: 55px;
}

.menu-icon,
.user-icon {
    display: none;
}

.navbar {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.nav-list-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-link {
    width: 100%;
}

.nav-link ul {
    justify-content: start;
    align-items: center;
    gap: 30px;
    /* padding: 0; */
}

/* Banner */
.banner {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url(../img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px;
}

.banner-text h2 {
    font-size: 3rem;
    padding-bottom: 10px;
}

.banner-text p {
    font-weight: bold;
    padding-bottom: 20px;
}

.secondary {
    margin-right: 10px;
    font-size: 1.25rem;
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid #070d59;
    color: #070d59;
}

.secondary:hover {
    background-color: #5269a5;
    color: #fff;
}

.primary {
    font-size: 1.25rem;
    padding: 10px 18px;
    color: #fff;
    background: linear-gradient(to right top, #014cd3, #2f4bce, #424bc9, #4f4bc4, #5a4bbf, #7048bb, #8246b6, #9243b0, #ad3da6, #c3379a, #d5358d, #e3387e);
    border: none;
    border-radius: 10px;
}

.primary:hover {
    background-image: linear-gradient(to left bottom, #014cd3, #2f4bce, #424bc9, #4f4bc4, #5a4bbf, #7048bb, #8246b6, #9243b0, #ad3da6, #c3379a, #d5358d, #e3387e);
}

/* card */

.container-fluid {
    padding: 0;
}

.btn {
    color: #fff;
    border: none;
    margin-bottom: 10px;
}

.card-list {
    margin: 30px 50px;
}

.card-title {
    padding: 6px 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: 10px;
}

.shape-line {
    width: 0%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s linear;
}

.card-title:hover .shape-line {
    width: 90%;
}

.card-group {
    margin-bottom: 30px;
}

/* 卡片水平滑動 */

.card-scroll {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
}

.img img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* 滑鼠拖動時的游標 */
.card-scroll:active {
    cursor: grabbing;
}

/* 隱藏滾動條 */
.card-scroll::-webkit-scrollbar {
    display: none;
}

.card-scroll {
    scrollbar-width: none;
}

/* 頁尾 */
footer {
    padding: 50px;
    color: #aaa;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.footer-links {
    display: flex;
    gap: 30px;
}

.footer-links-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.footer-links a {
    color: #aaa;
}

.footer-links a:hover {
    color: #fff;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

.footer-social .logo {
    margin-right: 20px;
    width: 60px;
    height: 80px;
}

/* 手機 */
@media screen and (max-width: 767px) {
    header {
        height: 80px;
        padding: 16px 20px;
    }

    .nav-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .nav-list-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-list-2 div:nth-child(2) {
        display: none;
    }

    .nav-list-2 div:nth-child(3) {
        display: none;
    }

    .user-icon {
        display: block;
        color: #fff;
    }

    .menu-icon {
        display: block;
        color: #fff;
    }

    .nav-link {
        display: none;
    }

    .banner {
        margin-top: 80px;
    }

    .banner-text {
        top: 80%;
        transform: translateY(-50%);
        left: 20px;
    }

    .banner-text p {
        padding: 0;
    }

    .banner-text button {
        width: 100px;
        height: 48px;
        font-size: 1rem;
    }

    .card-list {
        margin: 20px;
    }

    .shape-line {
        display: none;
    }

    footer {
        padding: 50px 20px;
        flex-direction: column;
        gap: 10px;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links-group {
        align-items: center;
    }
}
